<?php
  $LANG='en'; // Language to use
  $config['ldapServers'] = 'ldaps://dc.office:636'; // this has to be ldaps
  $config['domain'] = 'office.com';
  $config['domain_dn'] = 'dc=office,dc=com';
  $config['enterprise_name'] = 'Your Company';
  $config['user'] = 'adminuser';
  $config['pass'] = 'adminpass';
?>
